.lalala {
    height: 100vh;
    background-color: burlywood;
    background-size: cover;

}

#titulo {
    color: purple;
    /* padding: 50px; */
    text-align: center;
}

.texto {
    color: black;
    margin-bottom: 100px;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
}

.margen {
    margin: 15px 20px 25px 30px;
    margin-top: 100px;
}

.table {
    color: black;
    /* margin: 16px; */
    width: 80%;
    margin: auto;
}

.table th {
    padding-left: 10px;
    padding-top: 10px;
    width: 10em;
    font-size: 20px;
}

.buttonAdmin {

    border-radius: 1rem;
    margin: 10px;
    background-color: #bbb !important
}



.containerModalFiguritas {
    width: 400px !important;
    height: 600px;
    background: rgba(187, 187, 187, 0.736)
}

.containerModalFiguritas h1 {
    color: #000;
}

.containerModalFiguritas input {
    width: 350px !important;
}

.containerModalFiguritas button {
    width: 100px;
    height: 30px;
    border-radius: 1rem;
    background: #aaa;
}

.containerModalFiguritas__closeBtn {
    position: relative;
    top: 0rem;
    right: -10rem;
    cursor: pointer;
}

.containerModalFiguritas  label {
    width: 100%;
    text-align: start;
    color: #000;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}
.containerModalFiguritas select {
    width: 100px;
    border-radius: 1rem;
}

.containerModalFiguritas__closeBtn > i {
    height: 1.5rem;
    width: 1.5rem;
    background-color: #dc143c;
    border-radius: 50%;
    text-align: center;
    line-height: 1.5rem;
    color: #fff;
}