.lalala {
    height:  100vh;
    background-color:burlywood;
    background-size: cover;

}
#titulo{
    color: purple;
    padding: 100px;
    text-align: center;
}
.texto{
    color: black;
    margin-top: 50px;
    font-weight: bold;
}

.margen{
    margin: 15px 20px 25px 30px;
    margin-top: 100px;
}

.table{
    color:black

}
.table th{
    width: 10em;
}