
.PaginationBttns{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2.5rem;
    margin: 0;
    padding: 0;  
    list-style: none;
    margin-top: 2.5rem;
  }
    
  .PaginationBttns a {
    padding: 0.625rem;
    margin: 0rem 0.5rem;
    color: #fff;
    font-weight: 600;
    font-size: 0.875rem;
    border-radius: 0.3125rem;
  
    border: 1px solid var(--color-principal);
  
    cursor: pointer;
    opacity: 1;
    transition: all 1s ease;
  }
  
  .PaginationBttns a:hover{
    color: var(--color-blanco);
    background-color: #ccc;
    opacity: 0.75;
  }
    
  .paginationActive a{
    font-weight: 600;
    text-align: center;
    color: #ddd;
    background-color: #ccc;
  }